<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>


    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <th:block class = "techjobs"th:each = "jobs : ${jobs}" >
        <table class = "job-listing">
            <tr>
                <th>ID: </th>
                <td th:text = "${jobs.id}"></td>
            <tr>
                <th>Name: </th>
                <td th:text = "${jobs.name}"></td>
            </tr>
            <tr>
                <th>Employer : </th>
                <td th:text = "${jobs.employer}"></td>
            </tr>
            <tr>
                <th>Location: </th>
                <td th:text = "${jobs.location}"></td>
            </tr>
            <tr>
                <th>Position Type: </th>
                <td th:text = "${jobs.positionType}"></td>
            </tr>
            <tr>
                <th>Skill: </th>
                <td th:text = "${jobs.coreCompetency}"></td>
            </tr>
        </table>
    </th:block>

</div>

</body>
</html>